@CHARSET "UTF-8";

/*修正按钮边框缺失问题*/
.button-full, .button-full > .button {border-width: 1px;}

.item-input {margin-bottom:10px;}
.card .item {padding-top:3px;padding-bottom:3px;font-size: 14px;}
.card .item-button {padding-right:50px;}
.card .item-button button { right: 8px; top: 50%; margin-top: -15px; position: absolute; z-index: 3;}

.tab-item.tab-item-active {border-bottom:solid #4a87ee;}
.tab-item.activated{ border-color: #a2a2a2; background-color: #e5e5e5; box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);}

.logo{ margin-top:10px; padding-top:10px; height: 50px; width: 100%; text-align: center; }

/*订单列表*/
.card-order {margin-top:0px;}
.order-status{margin-top: -15px;
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 3;
    background-color: #ef4e3a;
    border-color: #cc2311;
    color: #fff;
    font-size: 12px;
    line-height: 26px;
    min-height: 30px;
    min-width: 28px;
    padding: 2px 4px 1px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: top;
}

/*帖子列表*/
.card-post {margin-top:10px;}
.card-post .item{margin-bottom:10px;padding-top:8px;padding-bottom:8px;}
.card-post .post-item-title {color:#4a87ee; font-size: 16px;}
.card-post .post-item-time {float:right;}
.card-post .post-item-content {padding-left:15px;}
.card-post .post-item-like {text-align:right;}

/*我的信息*/
.card-profile .item {line-height:35px;}